* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #b6a6ca;
    color: #551A8B;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: #d5cfe1;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #551A8B;
}

main {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background: red; */
}

form > div {
    margin: 0.5rem;
}

input, select {
    width: 250px;
    height: 60px;
    padding: 10px;
}

button {
    width: 225px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5cfe1;
    width: 100%;
}

.end {
    display: flex;
    align-items: center;
    height: 6vh;
    color: #52528c;
}